header{
    height: 70px;
    background:#f3f3f3;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
    p{
        margin-right: 20px;
    }
}



main{
    display: flex;
    flex-flow: row;
    .left-side-bar{
        width: 150px;

       .each-tour{
        text-align: center;
           div{
               padding:5px;
               img{
                   width: 100%;
               }
           }
       }


       .selected{
        background-color:gray;
        color:white;
        }

    }

    .middle-section{
        padding: 30px;
        width: calc(100vw - 150px);


        form{
            display: flex;
            flex-flow: row;

            input[type="submit"]{
                background: green;
                font-size: 30px;
                color: white;
            }
        }
        .text-section{
            width: 70%;
        }

        .photo-section{
            padding:10px;
            width: 30%;
            img{
                width: 100%;
            }
        }
    }


    .form-handler{
        display: flex;
        flex-flow: column;
    }
}