// VARIABLES
@import 'lib/variables/_fonts.scss';
@import 'lib/variables/_colors.scss';

// CSS CLASSES
@import 'lib/_margin.scss';
@import 'lib/_padding.scss';
@import 'lib/_flex.scss';
@import 'lib/_center.scss';
@import 'lib/_text.scss';
@import 'lib/_overflow.scss';
@import 'lib/_dimensions.scss';
@import 'lib/_background.scss';
@import 'lib/_positions.scss';
@import 'lib/_buttons.scss';

// CUSTOM CSS
@import 'custom/_footer.scss';
@import 'custom/_landing.scss';


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
a {
    text-decoration: none;
    font-family: $paragraph !important;
    color: $white;
}
p {
    font-family: $paragraph;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $paragraph;
    letter-spacing: 1px;
}

h1,
h2 {
    font-family: $headline;
    font-weight: 100;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
}

ul {
    list-style: none;
}
body {
    background: $white;
}
nav {
    top:0;
    left:0; 
    figure{
        height: 100px;
    }
    .big-nav {
        ul{
            padding-left: 45%;
        }
    }
    .small-nav {
        .fa{
            font-size: 30px;
            z-index: 11;
        }
        .side-bar{
            top:0;
            right: 100vw;
            background: white;
            z-index: 10;
            transition: right 0.3s ease-in-out;
            ul {
                padding-top: 30%;
                padding-bottom: 80%;                
                a {
                    color: $black;
                }
            }
        }
    }
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width: 320px) {
    .smaller {
        display: block;
    }
    .bigger {
        display: none;
    }
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
    .smaller {
        display: block;
    }
    .bigger {
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .smaller {
        display: none;
    }
    .bigger {
        display: block;
    }
    .big-nav {
        ul{
            padding-left: 45%;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .smaller {
        display: none;
    }
    .bigger {
        display: block;
    }
    .big-nav {
        ul {
            padding-left:40%;
            
        }
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .smaller {
        display: none;
    }
    .bigger {
        display: block;
    }
}



/*

    @media only screen and (max-width : 1200px) {
        
            }
        
            @media only screen and (max-width : 992px) {
        
            }
        
            @media only screen and (max-width : 768px) {
        
            }
        
            @media only screen and (max-width : 480px) {
        
            }
        
            @media only screen and (max-width : 320px) {
        
            }
    
*/