// VARIABLES
@import 'lib/variables/fonts';
@import 'lib/variables/colors';

// MIXINS
@import 'lib/mixins/_CTA-button.scss';

// CSS CLASSES
@import 'lib/margin';
@import 'lib/padding';
@import 'lib/flex';
@import 'lib/center';
@import 'lib/text';
@import 'lib/overflow';
@import 'lib/dimensions';
@import 'lib/background';
@import 'lib/positions';
@import 'lib/buttons';
@import 'lib/borders';

// CUSTOM CSS
@import 'custom/about';
@import 'custom/landing';
@import 'custom/tours';
@import 'custom/tours-modal';
@import 'custom/contact';
@import 'custom/recommendations';
@import 'custom/faq';


*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
body {
    overflow-x: hidden;
}
a {
    text-decoration: none;
    font-family: $paragraph !important;
    color: inherit;
}
ul {
    list-style: none;
}
nav {
    top:0;
    left:0;
    z-index: 9999;
    transition: all 0.1s ease-in-out;
    background-color: $white;
    figure{
        height: 60px;
    }
    .big-nav {
        ul{
            color: $black;
            font-weight: 400;
            padding-left: 5vw;
            .social-media {
                justify-content: flex-end;
                width: 100%;
                div {
                    margin-right: 10%;
                    a {
                        padding: 0 10px 0 10px; 
                    }
                }
            }
            li {
                padding: 0 20px 0 20px;
                transition: all 0.1s ease-in-out;
                img {
                    height: 25px;
                }
            }
            li:hover {
                color: $highlight;
            }
        }
    }
    .social-media {
        div {
            display: flex;
            a {
                margin: 0 10px 0 10px;
                height: 27px;
                width: 25px;
                display: block;
                background-position: center center;
                background-size: cover;
            }
            .tripadvisor {
                background-image: url('/assets/icons/tripadvisor-black.png');
                width: 45px;
                height: 45px;
            }
            .facebook {            
                background-image: url('/assets/icons/facebook-logo-black.png');
            }
            .twitter {
                background-image: url('/assets/icons/twitter-logo-silhouette-black.png');
            }
            .instagram {
                background-image: url('/assets/icons/instagram-symbol-black.png');
            }
        }   
    }
}

.initial {
    background-color: transparent;
    ul {
        a {
            color: $white !important;
        }
    }
    .tripadvisor {
        background-image: url('/assets/icons/tripadvisor-white.svg') !important;
        width: 45px;
        height: 45px;
    }
    .facebook {            
        background-image: url('/assets/icons/facebook-logo-white.png') !important;
    }
    .twitter {
        background-image: url('/assets/icons/twitter-logo-silhouette-white.png') !important;
    }
    .instagram {
        background-image: url('/assets/icons/instagram-symbol-white.png') !important;
    }
}
.active {
    background-color: $white;
    ul {
        a {
            color: $black !important;
        }
        .tripadvisor {            
            background-image: url('/assets/icons/tripd.tripadvisor-black.png') !important;
        }
        .facebook {            
            background-image: url('/assets/icons/facebook-logo-black.png') !important;
        }
        .twitter {
            background-image: url('/assets/icons/twitter-logo-silhouette-black.png') !important;
        }
        .instagram {
            background-image: url('/assets/icons/instagram-symbol-black.png') !important;
        }
    }
}


.main-footer {
    background-color: $black;
    img {
        height: 45px;
        padding: 10px;
    }
    .copyright {
        font-size: 0.9em;
        opacity: 0.7
    }
}
.footer-col {
	width: 33.333%;
}
.footer-content-wrapper {
	width: 80vw;
	color: $white;
}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    .dp-big{
        display: block;
    }
    .dp-sm{
        display: none;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .dp-big{
        display: block;
    }
    .dp-sm{
        display: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .dp-big{
        display: none;
    }
    .dp-sm{
        display: block;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .dp-big{
        display: none;
    }
    .dp-sm{
        display: block;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    .dp-big{
        display: none;
    }
    .dp-sm{
        display: block;
    }
}