.about-section {
	div {
		width: 50%;
	}

}

.separator-image {
	background-image: url('/assets/about-privatetours.jpg');
}
.guides {
	.guide {
		width: 33.33333%;
		text-align: justify;

	}
	.guide-image-wrapper {
		height: 200px;
		width: 200px;
	}
}
