.about-section {
	div {
		width: 50%;
	}

}

.separator-image {
	background-image: url('/assets/2.jpg');
}
.guides {
	.guide {
		width: 33.33333%;

	}
	.guide-image-wrapper {
		height: 200px;
		width: 200px;
	}
}
