
.first-section{ 
    background-image: url('/assets/2.jpg'); 
    background-position: top !important;
}

.second-section{
    background-image: url('/assets/1.jpg');
    
    .tours-cards-section{
        section{
            width: 200px;
            height: 230px;
            margin: 0px 10px -40px 10px;
            background:white;
            border: 1px solid lightgray;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                transform: scale(1.1, 1.1);
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
        }
        .special{
            height: 280px;
            width:210px;
            margin-bottom: 0;
        }
    }
}
.third-section {
    padding-left:20%;
    padding-right:20%;
    .nordic-noir-profile-image {
        height: 70px;
        width: 70px;
        background-image: url('/assets/2.jpg');
    }
    .image-gallery {
        figure {
            img {
                transition: all 0.2s ease-in-out;
            }
            &:hover{
                img {
                    opacity: 0.5;
                    cursor: pointer;
                    z-index: 1;
                }
            }
        }
    }
}