#tours-modal {
	position: absolute;
	@extend .center;
	padding: 30px;
	.tour-modal-header {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
	}
	.fa {
		transition: color 0.1s ease-in-out;
		padding: 10px;
		cursor: pointer;
	}
	.fa:hover {
		color: $highlight;
	}
	.active {
		display: block !important;
	}
	display: none;
	z-index: 9999;
	width: 80%;
	background-color: $white;
	top: 80px;
	.tours-modal-content-wrapper {
		max-height: 70vh;
		overflow: hidden;
		width: 100%;
		display: flex;
		.tour-details-wrapper {
			display: flex;
			flex-direction: column;
			margin-right: 40px;
			width: 75%;
			.book-tours {
				margin-bottom: -10px;	
			}
			.tour-details {
				display: flex;
				flex-direction: column;
			}
			.tour-controls {
				display: inline-flex;
				text-align: center;
				align-items: center;
				justify-content: space-between;
				margin: 50px 20px 20px 20px;
				.tour-arrows {
					display: flex;
					justify-content: space-between;
					#number-of-people {
						font-family: $paragraph;
					}
				}
			}
			#additional-info {
				h6 {
					font-family: $paragraph;
				}
			}
		}
		.tour-image {
			max-width: 500px !important;
			img {
				position: relative;
				height: 100%;
				
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 893px) {
	#tours-modal {
		max-height: 85vh;
		overflow-y: scroll;
		.tours-modal-content-wrapper {
			flex-direction: column-reverse;
			max-height: initial;
			
			.tour-image {
				max-height: 220px;
				margin-bottom: 20px;
				max-width: initial !important;
			}
			.tour-details-wrapper {	
				margin-right: 0px;
				width: initial;
			}
			.tour-controls {
				margin: 50px 0 50px 0;
				display: block !important;
				.book-tours {
					left: 0;
					right: 0;
					width: 130px;
					margin: 20px auto 10px auto;
				}
			}
		}
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 

@media only screen and (max-width : 320px) {

}
