<section class="login-main">
    <form action="" method="POST" class="login-form">
        <div class="login-form-control">
            <label for="username"><i class="fa fa-user-o"></i></label>
            <input type="text" name="username" id="username" placeholder="username">                
        </div>
        <div class="login-form-control">
            <label for="username"><i class="fa fa-unlock-alt"></i></label>            
            <input type="password" name="password" id="password" placeholder="password">
        </div>
        <input type="submit" value="SUBMIT" class="btn btn-green">
    </form>
</section>

